/KiwiServer/nbproject/private/
/KiwiStudent/nbproject/private/
/KiwiLecturer/nbproject/private/
/KiwiStudent/build/
/KiwiLecturer/build/
/KiwiServer/build/
/WebApplication1/nbproject/private/
/Kiwi/nbproject/private/
/Kiwi/build/
/Old/KiwiLecturer/build/
/Old/KiwiLecturer/nbproject/private/
/Old/KiwiServer/build/
/Old/KiwiServer/nbproject/private/
/Old/KiwiStudent/build/
/Old/KiwiStudent/nbproject/private/
/Kiwi/dist/
*.cdg
UMLDiagrams/umlproject
Kiwi/src/kiwi/kiwistudent/back.jpg
